setuptools>=68.0.0
wheel>=0.40.0
pip>=25.1.1

Flask>=2.3.2
flask-cors>=6.0.1
gunicorn>=23.0.0
numpy==1.25.0
pandas>=2.1.1
joblib==1.5.1
scikit-learn==1.6.1
scipy==1.10.1
threadpoolctl==3.5.0
Werkzeug>=2.3.7
